.social-icon {
  display: inline-block;
  margin-right: 0px;
}

.si-rounded {
  border-radius: 5px;
}

.si-small {
  font-size: 12px;
}

.si-linkedin {
  /* Add specific styles for LinkedIn icons */
  color: #0077b5; /* Example: setting the color to LinkedIn's blue */
  font-size: 24px; /* Example: setting the font size */
}

.si-github {
  /* Add specific styles for GitHub icons */
  color: #333; /* Example: setting the color to a dark gray */
  font-size: 24px; /* Example: setting the font size */
  /* margin-left: 10px; /* Example: adding some space between LinkedIn and GitHub icons */
}
