---
layout: default
---
<div class="post">
    <div class="container">
        <div class="row">
            <div class="col-4 bio-column">
                <h5></h5>
                {% include image.html url="images/mountains.JPEG" caption="" width="224px" align="left" %}

                <b>PhD Student</b> <br>                
                <a href="https://www.gatech.edu/" target="_blank">Georgia Institute of Technology</a> <br>
                <a href="https://ece.gatech.edu/" target="_blank">School of ECE</a> <br>
                Atlanta, Georgia <br>
                <span style="font-size: 0.8em;">e-mail: echo @gatech.edu | sed 's/^/amoschos/'</span><br>
                <!-- Linkedin Icon -->
                <a href="https://www.linkedin.com/in/anmos" class="social-icon si-linkedin">
                <i class="fab fa-linkedin"></i> </a>
                <!-- GitHub Icon -->
                <a href="https://github.com/0ena" class="social-icon si-github">
                <i class="fab fa-github"></i>
                </a>
                
                <hr>
                <h4>News</h4>
                <div class="news">
                    {% for item in site.data.news %}
                    <div class="entry"><b>{{item.date}}:</b> {{item.event}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-8 border-left">
                {{ content }}
            </div>
        </div>
    </div>  
</div>
